<!-- Loop over each object in the projects array -->
{{#each post as |post| }}
<div class="row mb-4 post">
  <div id="postSection" class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{post.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_text}}
    </p>
  </div>
</div>
{{/each}}
